data/emb_ag_news_test
data/emb_ag_news_train
data/emb_enron_test
data/emb_enron_train
data/emb_mind
data/emb_sst2_test
data/emb_sst2_train
data/emb_sst2_validation
data/test_news_cls.tsv
data/train_news_cls.tsv
output/
src/temp_file_verification
src/temp_scripts
src/verification_detail
src/wandb
.idea/
data/*
src/*.pickle
src/*.pt
src/temp_data
*.pyc
*.DS_Store
*/.ipynb_checkpoints/
**/slurm-*.out
wandb.env
